In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import math
from sklearn.cluster import KMeans
from sklearn import datasets

In [2]:
d = {'Peso': [5400,5450,83,5470,92,5300,80,85,5440,96,70,5300],
     'Altura': [2.9, 2.2,0.70,2.7,0.70,3,0.66,0.70,2.6,0.66,0.72,2.9]}
df=pd.DataFrame(data=d)
df

    Altura  Peso
0     2.90  5400
1     2.20  5450
2     0.70    83
3     2.70  5470
4     0.70    92
5     3.00  5300
6     0.66    80
7     0.70    85
8     2.60  5440
9     0.66    96
10    0.72    70
11    2.90  5300